:root {
    font-size: 10px;
    
    --colorTheme: #ff7a90;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

html, body {
    height: 100%;
}

body {
    text-align: center;
    background-color: var(--colorTheme);
}

h1 {
    font-size: 3.6rem;
    font-weight: normal;
    color: white;
}

h1::after {
    display: block;
    content: '';
    width: 1.4rem;
    height: .35rem;
    margin-top: .83rem;
    position: absolute;
    left: 50%;
    background-color: white;
    border-radius: .24rem;
}

.stopwatch {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.stopwatch .stopwatch__marker {
    margin-top: 3.6rem;
    font-size: 3.8rem;
    color: white;
}

.stopwatch .stopwatch__controls {
    display: flex;
    justify-content: center;
    gap: .7rem;
    margin-top: 3.6rem;
}

.stopwatch .stopwatch__controls > button {
    display: block;
    width: 9.2rem;
    height: 3.5rem;
    font-size: 1.6rem;
    color: white;
    background: var(--colorTheme);
    filter: brightness(125%);
    border: none;
    border-radius: 1.6rem;
    outline: none;
    cursor: pointer;
}

.stopwatch .stopwatch__controls > button:disabled {
    opacity: .5;
    cursor: auto;
}